In [1]:
import numpy as np
import pandas as pd

In [2]:
movies = pd.read_csv('tmdb_5000_movies.csv')
credits = pd.read_csv('tmdb_5000_credits.csv')

In [3]:
movies.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800

In [4]:
credits.head(1)

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [5]:
dataset = movies.merge(credits, on='title')

In [10]:
dataset.shape
dataset.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,movie_id,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...",...,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,285,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...",...,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466,206647,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...",...,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106,49026,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]",...,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124,49529,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [11]:
#columns to keep: id, genres, keywords. Not keeping
#original language bec most are eng so creates imbalance. Keep title, 
#overview, cast, crew

movies = dataset[['movie_id', 'title', 'overview', 'genres', 'keywords', 'cast', 'crew']]

In [12]:
movies.head(1)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [ ]:
#Aim: Use this movies df to make a new df with movie_id, title, tags. Tags is a merge of overview, genres, keywords, cast, crew

In [15]:
movies.isnull().sum()

movie_id    0
title       0
overview    0
genres      0
keywords    0
cast        0
crew        0
dtype: int64

In [14]:
movies.dropna(inplace=True)

<ipython-input-14-4d2d825739df>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies.dropna(inplace=True)

In [16]:
movies.duplicated().sum()

0

In [18]:
movies.iloc[0]['genres']

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

In [27]:
import json

In [29]:
#edit format of genres column to only list of the 'name' values

def convert(obj, key):
    list = json.loads(obj)
    newlist = [d[key] for d in list]
    return newlist

In [39]:
def convertcast(obj, key):
    list = json.loads(obj)
    newlist = [d[key] for d in list]
    return newlist[:3]

In [30]:
convert(movies.iloc[0]['genres'], 'name')

['Action', 'Adventure', 'Fantasy', 'Science Fiction']

In [31]:
movies['genres'] = movies['genres'].apply(convert, key='name')

<ipython-input-31-0ac846debeb7>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['genres'] = movies['genres'].apply(convert, key='name')

In [32]:
movies['genres'].head()

0    [Action, Adventure, Fantasy, Science Fiction]
1                     [Adventure, Fantasy, Action]
2                       [Action, Adventure, Crime]
3                 [Action, Crime, Drama, Thriller]
4             [Action, Adventure, Science Fiction]
Name: genres, dtype: object

In [33]:
movies['keywords'] = movies['keywords'].apply(convert, key='name')

<ipython-input-33-e7b457a010c2>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['keywords'] = movies['keywords'].apply(convert, key='name')

In [34]:
movies['keywords'].head()

0    [culture clash, future, space war, space colon...
1    [ocean, drug abuse, exotic island, east india ...
2    [spy, based on novel, secret agent, sequel, mi...
3    [dc comics, crime fighter, terrorist, secret i...
4    [based on novel, mars, medallion, space travel...
Name: keywords, dtype: object

In [40]:
movies['cast'] = movies['cast'].apply(convertcast, key='name')

<ipython-input-40-ee2a98e1c674>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['cast'] = movies['cast'].apply(convertcast, key='name')

In [41]:
movies['cast'].head()

0    [Sam Worthington, Zoe Saldana, Sigourney Weaver]
1       [Johnny Depp, Orlando Bloom, Keira Knightley]
2        [Daniel Craig, Christoph Waltz, Léa Seydoux]
3        [Christian Bale, Michael Caine, Gary Oldman]
4      [Taylor Kitsch, Lynn Collins, Samantha Morton]
Name: cast, dtype: object

In [56]:
#convert crew to director

def fetch_director(obj):
    list = json.loads(obj)
    for d in list:
        if d['job'] == 'Director':
            return [d['name']]

In [44]:
movies['crew'] = movies['crew'].apply(fetch_director)

<ipython-input-44-1e2791f73e30>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['crew'] = movies['crew'].apply(fetch_director)

In [46]:
movies.rename(columns={'crew':'director'}, inplace=True)
movies.head()

/opt/anaconda3/lib/python3.8/site-packages/pandas/core/frame.py:4441: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

,movie_id,title,overview,genres,keywords,cast,director
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]",James Cameron
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley]",Gore Verbinski
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[Daniel Craig, Christoph Waltz, Léa Seydoux]",Sam Mendes
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[Christian Bale, Michael Caine, Gary Oldman]",Christopher Nolan
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[Taylor Kitsch, Lynn Collins, Samantha Morton]",Andrew Stanton

In [47]:
movies['overview'] = movies['overview'].apply(lambda x: x.split())

<ipython-input-47-3cac330698a6>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['overview'] = movies['overview'].apply(lambda x: x.split())

In [48]:
movies['genres'] = movies['genres'].apply(lambda x: [i.replace(" ", "") for i in x])

<ipython-input-48-ba8e48a7474e>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['genres'] = movies['genres'].apply(lambda x: [i.replace(" ", "") for i in x])

In [49]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,director
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, ScienceFiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]",James Cameron
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley]",Gore Verbinski
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send...","[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[Daniel Craig, Christoph Waltz, Léa Seydoux]",Sam Mendes
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[Christian Bale, Michael Caine, Gary Oldman]",Christopher Nolan
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[Action, Adventure, ScienceFiction]","[based on novel, mars, medallion, space travel...","[Taylor Kitsch, Lynn Collins, Samantha Morton]",Andrew Stanton

In [57]:
movies['cast'] = movies['cast'].apply(lambda x: [i.replace(" ", "") for i in x])
movies['keywords'] = movies['keywords'].apply(lambda x: [i.replace(" ", "") for i in x])

<ipython-input-57-fcf1b4e1e269>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['cast'] = movies['cast'].apply(lambda x: [i.replace(" ", "") for i in x])
<ipython-input-57-fcf1b4e1e269>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['keywords'] = movies['keywords'].apply(lambda x: [i.replace(" ", "") for i in x])

In [58]:
movies['director'] = movies['director'].apply(lambda x: [x])

<ipython-input-58-8406838109d0>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['director'] = movies['director'].apply(lambda x: [x])

In [60]:
movies['director'] = movies['director'].apply(lambda x: [i.replace(" ", "") for i in x])

AttributeError: 'NoneType' object has no attribute 'replace'

In [68]:
def replace(obj):
    for i in obj:
        if i:
            return [i.replace(" ", "")]

In [69]:
replace(movies.iloc[0]['director'])

['JamesCameron']

In [71]:
movies['director'] = movies['director'].apply(replace)

<ipython-input-71-fc575e8401c0>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['director'] = movies['director'].apply(replace)

In [73]:
movies.isnull().sum()

movie_id     0
title        0
overview     0
genres       0
keywords     0
cast         0
director    30
dtype: int64

In [75]:
movies[movies['director'].isnull()]

,movie_id,title,overview,genres,keywords,cast,director
3669,19615,Flying By,"[A, real, estate, developer, goes, to, his, 25...",[Drama],[],"[BillyRayCyrus, HeatherLocklear, AhnaiseChrist...",None
3678,447027,Running Forever,"[After, being, estranged, since, her, mother's...",[Family],[],[],None
3736,26379,Paa,"[He, suffers, from, a, progeria, like, syndrom...","[Drama, Family, Foreign]",[],"[AmitabhBachchan, AbhishekBachchan, VidyaBalan]",None
3984,55831,Boynton Beach Club,"[A, handful, of, men, and, women, of, a, certa...","[Comedy, Drama, Romance]",[independentfilm],"[BrendaVaccaro, DyanCannon, JosephBologna]",None
4075,371085,Sharkskin,"[The, Post, War, II, story, of, Manhattan, bor...",[],[],[],None
4112,48382,"The Book of Mormon Movie, Volume 1: The Journey","[The, story, of, Lehi, and, his, wife, Sariah,...",[],[],"[KirbyHeyborne, MichaelFlynn]",None
4125,325140,Hum To Mohabbat Karega,"[Raju,, a, waiter,, is, in, love, with, the, f...",[],[],[],None
4130,20653,Roadside Romeo,"[This, is, the, story, of, Romeo., A, dude, wh...","[Animation, Family, Foreign]",[],"[SaifAliKhan, KareenaKapoor, JavedJaffrey]",None
4254,361505,Me You and Five Bucks,"[A, womanizing, yet, lovable, loser,, Charlie,...","[Romance, Comedy, Drama]",[],[],None
4311,114065,Down & Out With The Dolls,"[The, raunchy,, spunky, tale, of, the, rise, a...","[Comedy, Music]",[],[],None
4320,137955,Crowsnest,"[In, late, summer, of, 2011,, five, young, fri...",[],[],[],None
4328,102840,Sex With Strangers,"[For, some, married, couples,, sex, is, an, ob...",[Documentary],[],[],None
4380,47686,Dream with the Fishes,"[Terry, is, a, suicidal, voyeur, who, treats, ...",[Comedy],[independentfilm],"[DavidArquette, BradHunt, KathrynErbe]",None
4407,43630,The Helix... Loaded,[],"[Action, Comedy, ScienceFiction]",[],[],None
4411,357441,Karachi se Lahore,"[A, road, trip, from, Karachi, to, Lahore, whe...","[Family, Comedy]",[],"[ShehzadSheikh, AyeshaOmar, YasirHussain]",None
4464,279759,Harrison Montgomery,"[Film, from, Daniel, Davila]",[],[],[],None
4510,331493,Light from the Darkroom,"[Light, in, the, Darkroom, is, the, story, of,...",[],[],[],None
4559,380097,America Is Still the Place,"[1971, post, civil, rights, San, Francisco, se...",[],[],[],None
4568,297100,The Little Ponderosa Zoo,"[The, Little, Ponderosa, Zoo, is, preparing, f...",[],[],[],None
4572,325579,Diamond Ruff,"[Action, -, Orphan,, con, artist,, crime, boss...",[],[],[],None
4577,328307,Rise of the Entrepreneur: The Search for a Bet...,"[The, world, is, changing, faster, than, ever....",[],[],[],None
4589,47546,I Want Your Money,"[Two, versions, of, the, American, dream, now,...",[Documentary],[],[],None
4595,43743,Fabled,"[Joseph, just, broke, up, with, his, girlfrien...","[Drama, Mystery, Thriller]",[independentfilm],[],None
4639,300327,Death Calls,"[An, action-packed, love, story, on, the, Mexi...",[],[],[],None
4644,378237,Amidst the Devil's Wings,"[Prequel, to, ""5th, of, a, Degree.""]","[Drama, Action, Crime]",[],[],None
4650,325123,Teeth and Blood,"[A, beautiful, diva, is, murdered, on, the, se...",[Horror],[],"[GlennPlummer, MichelleVanDerWater, DanielleVega]",None
4663,320435,UnDivided,"[UnDivided, documents, the, true, story, of, h...",[],[],[],None
4668,40963,Little Big Top,"[An, aging, out, of, work, clown, returns, to,...",[Comedy],[independentfilm],"[SidHaig, RichardRiehle, MelEngland]",None
4680,194588,Short Cut to Nirvana: Kumbh Mela,"[Every, 12, years, over, 70, million, pilgrims...",[],[],[],None
4722,38786,The Blood of My Brother: A Story of Death in Iraq,"[THE, BLOOD, OF, MY, BROTHER, goes, behind, th...",[],[],[],None

In [77]:
dataset[dataset['movie_id'] == 19615]

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,movie_id,cast,crew
3669,0,"[{""id"": 18, ""name"": ""Drama""}]",NaN,19615,[],en,Flying By,A real estate developer goes to his 25th high ...,1.546169,[],...,95.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,It's about the music,Flying By,7.0,2,19615,"[{""cast_id"": 1, ""character"": ""George"", ""credit...",[]